SECRET_KEY=
DATABASE_URI=

TEST_SECRET_KEY=
TEST_DATABASE_URI=

PROD_SECRET_KEY=
PROD_DATABASE_URI=

FLASK_ENV=
JWT_SECRET_KEY=

API_KEY=
EMAIL_USER=
EMAIL_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=